.movies__more-button {
    margin: 0;
    padding: 0;
    border: none;
    background: #F9F9F9;
    border-radius: 6px;
    text-align: center;
    width: 1140px;
    height: 36px;
    margin: 50px 70px 80px;
    transition: opacity .4s ease-in-out;
    cursor: pointer;
    font-weight: 550;
    font-size: 12px;
    line-height: 15px;
}

.movies__more-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .movies__more-button {
        width: 708px;
        margin: 50px 30px 80px;
    }

}

@media screen and (max-width: 320px) {
    .movies__more-button {
        width: 300px;
        margin: 50px 10px 80px;
    }
}