.navigation__main {
    display: flex;
    text-align: center;
    justify-content: center;
}

.navigation__main_name {
    margin: 0;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    margin-top: 29px;
    margin-bottom: 29px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.navigation__main_name:last-child {
    color: white;
    margin-top: 21px;
    margin-bottom: 21px;
}

.navigation__main_name-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 32px;
    background-color: #000;
    border-radius: 3px;
    margin-left: 30px;
}

.navigation__main_name:hover {
    opacity: 0.6;
}

@media screen and (max-width: 320px) {
    .navigation__main_name:last-child {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .navigation__main_name-button {
        width: 54px;
        height: 26px;
        margin-left: 14px;
    }
    
}