.about {
    margin: 0;
    padding-left: 70px;
    padding-right: 70px;
}

.about__title {
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    text-align: start;
    margin-top: 100px;
    padding-bottom: 23px;
    border-bottom: 1px solid #000;
}

.about__information {
    padding-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}

.about__info_name {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-align: left;
}

.about__info_text {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-top: 26px;
    padding-bottom: 110px;
    text-align: left;
}

.about__timing {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.about__timing_first {
    margin: 0;
    background-color: #000;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__timing_fourth {
    margin: 0;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.about__timing_description {
    margin: 0;
    padding-top: 14px;
    padding-bottom: 155px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
}

@media screen and (max-width: 768px) {
    .about {
        padding-left: 50px;
        padding-right: 50px;
    }

    .about__title {
        margin-top: 90px;
    }

    .about__information {
        column-gap: 30px;
    }

    .about__timing_description {
        padding-top: 23px;
        padding-bottom: 90px;
    }

}

@media screen and (max-width: 320px) {
    .about {
        padding-left: 14px;
        padding-right: 14px;
        width: 284px;
    }

    .about__title {
        font-size: 18px;
        line-height: 22px;
        margin-top: 70px;
        padding-bottom: 28px;
    }

    .about__information {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
    }

    .about__info_name {
        font-size: 18px;
        line-height: 22px;
    }
    .about__info_text {
        font-size: 11px;
        line-height: 16px;
        padding-top: 16px;
        padding-bottom: 56px;
        text-align: left;
    }

    .about__info_text:last-child {
        padding-bottom: 60px;
    }

    .about__timing {
        display: grid;
        grid-template-columns: 1.5fr 3fr;
    }

    .about__timing_first {
        font-size: 11px;
        line-height: 13px;
        height: 35px;
    }

    .about__timing_fourth {
        font-size: 11px;
        line-height: 13px;
    }

    .about__timing_description {
        font-size: 11px;
        line-height: 13px;
        padding-bottom: 93px;
        padding-top: 10px;
    }
}