.techs {
    background-color: #F5F5F5;
    padding-left: 70px;
    padding-right: 70px;
}

.techs__title {
    margin: 0;
    font-weight: 450;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    text-align: start;
    margin-top: 100px;
    padding-bottom: 23px;
    border-bottom: 1px solid #000;
}

.techs__information {
    margin: 0;
    padding-top: 90px;
    padding-bottom: 100px;
}

.techs__subtitle {
    margin: 0 auto;
    padding-bottom: 26px;
    font-weight: 450;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
}

.techs__about {
    margin: 0 auto;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    max-width: 430px;
}

.techs-list {
    margin: 0 auto;
    width: 690px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 54px;
}

.techs-list__points {
    list-style: none;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.04em;
    background: #E8E8E8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    min-height: 60px;
}

@media screen and (max-width: 768px) {
    .techs {
        padding-left: 50px;
        padding-right: 50px;
    }

    .techs__title {
        margin-top: 90px;
    }

    .techs__information {
        padding-top: 80px;
        padding-bottom: 83px;
    }

    .techs__subtitle {
        padding-bottom: 22px;
    }

    .techs__about {
        font-size: 12px;
        line-height: 18px;
        max-width: 460px;
    }

    .techs-list {
        padding: 0;
        margin: auto;
        width: 648px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 90px;
    }

    .techs-list__points {
        font-size: 12px;
        line-height: 15px;
        width: 84px;
        min-height: 57px;
    }
}

@media screen and (max-width: 426px) {
    .techs {
        padding-left: 18px;
        padding-right: 18px;
    }

    .techs__title {
        margin-top: 70px;
        font-size: 18px;
        line-height: 22px;
    }

    .techs__information {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    .techs__subtitle {
        padding-bottom: 24px;
        font-size: 30px;
        line-height: 36px;
    }

    .techs__about {
        font-size: 11px;
        line-height: 16px;
        max-width: 292px;
    }

    .techs-list {
        width: 178px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
        padding-bottom: 70px;
    }
}