.footer {
    margin: 0;
    padding: 0 70px 20px;
    flex-shrink: 0;
}

.footer__text {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #A0A0A0;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 20px;
}

.footer__info {
    margin: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__year {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__links {
    margin: 0;
}

.footer__link {
    margin: 0;
    text-decoration: none;
    color: #000000;
    margin-right: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__link:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 0 30px 20px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        padding: 0 10px 20px;
    }

    .footer__text {
        line-height: 15px;
        padding-bottom: 21px;
        width: 300px;
    }

    .footer__info {
        flex-direction: column-reverse;
    }

    .footer__year {
        color: #A0A0A0;
        line-height: 15px;
        padding-top: 30px;
    }

    .footer__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer__link {
        margin: 0;
        font-size: 12px;
        line-height: 15px;
    }

    .footer__link:first-of-type {
        margin-bottom: 12px;
    }
}