.login {
  margin: 0 auto;
  max-width: 396px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.login__greetings {
  display: flex;
  flex-direction: column;
  text-align: initial;
}

.login__link {
  border: none;
}

.login__img {
  max-width: 38px;
  min-height: 38px;
  padding-bottom: 40px;
}

.login__title {
  margin: 0;
  font-style: normal;
  font-weight: 550;
  font-size: 24px;
  line-height: 29px;
}

.login__form {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: initial;
  padding-top: 40px;
  padding-bottom: 65px;
}

.login__form-name {
  margin: 0;
  color: #a0a0a0;
  font-style: normal;
  font-weight: 450;
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 5px;
  padding-top: 24px;
}

.login__form-name:first-child {
  padding-top: 0;
}

.login__form-input {
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 17px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #e8e8e8;
  outline: none;
}

.login__form-input:invalid:not(:focus):not(:placeholder-shown) {
  color: #ff4062;
}

.login__form-input:focus {
  border: none;
  border-bottom: 1px solid black;
}

.login__button {
  border: none;
  border-radius: 3px;
  width: 396px;
  height: 45px;
  color: white;
  background-color: black;
  font-weight: 550;
  font-size: 12px;
  line-height: 15px;
  margin-top: 179px;
}

.login__button:hover {
  opacity: 0.6;
}

.login__button_unactive {
  cursor: auto;
  opacity: 0.2;
}

.login__button_unactive:hover {
  opacity: 0.2;
}

.login__singup {
  margin: 0;
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  padding-bottom: 70px;
  justify-content: center;
  text-align: center;
}

.login__singup-text {
  margin: 0;
  color: #a0a0a0;
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 17px;
}

.login__singup-link {
  margin: 0;
  margin-left: 6px;
  text-decoration: none;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.login__input-error {
  height: 12px;
  font-style: normal;
  font-weight: 450;
  font-size: 10px;
  line-height: 12px;
  margin-top: 6px;
  width: 390px;
  color: #ff4062;
}

@media screen and (max-width: 768px) {
  .login {
    padding-top: 310px;
  }
}

@media screen and (max-width: 713px) {
  .login {
    max-width: 260px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 56px;
  }

  .login__greetings {
    text-align: center;
  }

  .login__img {
    margin: auto;
    padding-bottom: 50px;
  }

  .login__button {
    width: 260px;
    margin-top: 157px;
  }

  .login__singup {
    padding-top: 14px;
    padding-bottom: 30px;
  }

  .login__singup-text {
    font-size: 12px;
    line-height: 15px;
  }

  .login__singup-link {
    font-size: 12px;
    line-height: 15px;
  }
}
